@import "tailwindcss";

@theme inline {
  --color-background: #080b11;
  --color-foreground: #f8fafc;
  --font-sans: var(--font-inter), sans-serif;
  --font-bangla: var(--font-bangla), sans-serif;
}

body {
  background-color: #080b11;
  color: #f8fafc;
  font-family: var(--font-inter), sans-serif;
}

/* কাস্টম বাংলা ফন্ট ইউটিলিটি ক্লাস */
.font-bangla {
  font-family: var(--font-bangla), sans-serif !important;
}

/* Custom Ultra-Slim Dark Scrollbar */
.custom-dark-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-dark-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 9999px;
}

.custom-dark-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 9999px;
}

.custom-dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(52, 211, 153, 0.4); /* soft emerald hover */
}